<% if obj.errors.full_messages.any? %>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <%= check_errors(obj) %>
    <%= check_errors_messages(obj) %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>
