@import 'bootstrap/dist/css/bootstrap';

$primary-color-dark :#4e443e;
$color-black: black;

body {
  font-family: 'Padauk', sans-serif;
  background-color: $primary-color-dark;
}

.custom-container {
  margin: 0 0.5rem;
}

#navbar {
  height: 5rem !important;
}

.logo-box {
  position: relative;
}

.navbar-brand {
  font-size: 2rem;
  color: #606060 !important;
  font-weight: bold;
}

.littlecircle {
  background: orangered;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  position: absolute;
  right: 0;
  bottom: 15px;
}

.links {
  text-transform: uppercase;
  font-size: 1.2rem !important;
}

.nav-link:hover {
  color: orangered !important;
}

.login, 
.signup, 
.logout {
  color: slategray;
  list-style: none;
}

.login:hover, 
.signup:hover, 
.logout:hover {
  color: orangered;
  list-style: none;
  text-decoration: none;
}

.magnifying-glass-box {
  position: relative;
  z-index: 10000;
  margin-left: 2rem;
}

.magnifying-glass {
  color: gray;
  font-size: 1.4rem;
  position: absolute;
  top: -0.8rem;
  right: 10px;
}

.lineinmiddle {
  border-left: 4px solid gray;
  height: 20px;
}

@media (min-width: 320px) and (max-width: 991px) {
  .navbar-toggler {
    position: absolute;
    left: 5px !important;
    top: 4px !important;
  }

  .navbar-brand {
    margin: auto !important;
  }

  .nav-link {
    color: white !important;
  }

  .links {
    width: 40%;
    background-color: #606060;
    margin-left: -0.9rem;
  }

  .login-signup {
    margin-top: -8px !important;
    width: 100%;
  }

  .logo-box {
    margin: 0 auto;
  }

  .littlecircle {
    right: -0.7rem;
    bottom: 15px;
  }

  .magnifying-glass-box {
    visibility: hidden;
  }
  
  .magnifying-glass {
    visibility: hidden;
  }

  .magnifying-glass-box-2 {
    position: relative;
    z-index: 10000;
    margin-left: 2rem;
  }

  .magnifying-glass-2 {
    color: gray;
    font-size: 1.4rem;
    position: absolute;
    top: -3.5rem;
    right: 10px;
  }
}

@media (min-width: 992px) {
  .magnifying-glass-box-2 {
    visibility: hidden;
  }

  .magnifying-glass-2 {
    visibility: hidden;
  }
}

@media (min-width: 992px) and (max-width: 1224px) {
  a.article-title {
    font-size: 0.8rem !important;
    margin-top: 0;
  }
}

.images-box {
  margin-top: -1rem;
}

.images {
  width: 100%;
  height: 100%;
}

.footer-box {
  height: 6rem;
  display: flex;
  justify-content: space-between;
  color: white;
}

.logo-box-footer {
  width: 8rem;
  position: relative;
  height: 2.5rem;
}

.footer-brand {
  font-size: 2rem;
  color: white !important;
  font-weight: bold;
}

.littlecircle-footer {
  background: orangered;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  position: absolute;
  bottom: 0;
}

.footer-social-media {
  display: flex;
}

.footer-social-media-icons {
  background: orangered;
  padding: 5px;
  border-radius: 50%;
  color: black;
}

p.article-title-p {
  margin-top: 2rem !important;
}

a.article-title {
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: bold;
  text-decoration: none;
}

a.category-title:hover {
  text-decoration: none;
}

.article-text {
  font-size: 2rem !important;
}

.article-category {
  a {
    color: white !important;
  }
}

.card-with-images {
  display: flex;
}

.other-articles-voting {
  width: 25%;
  float: right;
  margin-top: -2.5rem;

  a {
    color: black !important;
    font-weight: bold;
    font-size: 1rem;
    margin: 0 4px;
  }
}

.article-voting.unvoting {
  width: 10%;

  a {
    color: black !important;
    font-weight: bold;
    font-size: 2rem;
    margin: 0 4px;
  }
}
