@import 'bootstrap/dist/css/bootstrap';

body {
  font-family: 'Padauk', sans-serif;
}

#navbar {
  height: 5rem !important;
}

.logo-box {
  position: relative;
}

.navbar-brand {
  font-size: 2rem;
  color: #606060 !important;
  font-weight: bold;
}

.littlecircle {
  background: orangered;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  position: absolute;
  right: 0;
  bottom: 15px;
}

.links {
  text-transform: uppercase;
  font-size: 1.2rem !important;
}

.nav-link:hover {
  color: orangered !important;
}

.login, .signup, .logout {
  color: slategray;
  list-style: none;
}

.login:hover, .signup:hover, .logout:hover {
  color: orangered;
  list-style: none;
  text-decoration: none;
}

.magnifying-glass {
  color: gray;
  font-size: 1.7rem;
}

.lineinmiddle {
  border-left: 4px solid gray;
  height: 20px;
}

@media (min-width: 320px) and (max-width: 991px) {
  .navbar-toggler {
    position: absolute;
    left: 5px !important;
    top: 4px !important;
  }

  .navbar-brand {
    margin: auto !important;
  }

  .nav-link {
    color: white !important;
  }

  .links {
    width: 40%;
    background-color: #606060;
    margin-left: -0.9rem;
  }

  .login-signup {
    margin-top: -8px !important;
    width: 100%;
  }

  .magnifying-glass-box {
    position: relative;
    z-index: 10000;
  }
  .magnifying-glass {
    position: absolute;
    top: -3.5rem;
    right: 10px;
  }

  .logo-box {
    margin: 0 auto;
  }

  .littlecircle {
    right: -0.7rem;
    bottom: 15px;
  }
}


@media (min-width: 992px) {
  .magnifying-glass-box {
    position: relative;
    z-index: 10000;
  }
  .magnifying-glass {
    position: absolute;
    top: -3.5rem;
    right: 10px;
  }
}

