<footer class="footer-box">
  <div class="logo-box-footer ml-4">
    <%= link_to "liFEsTYle", root_path,  class: "footer-brand"%>
    <span class="littlecircle-footer"></span>
  </div>

   <div>
    <span>Privacy Policy, Terms and Conditions.</span>
    <span>Copyright 2020. All rights reserved.</span>
  </div>
  
   <div class="footer-social-media">
    <span>Connect with us: </span>

    <div class="ml-3">
      <i class="fab fa-twitter footer-social-media-icons"></i>
      <i class="fab fa-instagram footer-social-media-icons"></i>
      <i class="fab fa-facebook footer-social-media-icons"></i>
    </div>

  </div>
  
</footer>